<!-- chat/templates/chat/index.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
</head>
<style>
  .contenedor-inicial {
    display: flex;
    padding-top: 1em;
  }

  .input {
    flex: 1;
    margin-right: 1em;
  }
</style>
<body>
    What chat room would you like to enter?<br>

    <div class="contenedor-inicial">
      <input id="room-name-input" class="input" type="text">
      <input id="room-name-submit" type="button" value="Enter">
    </div>

    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chat/' + roomName + '/';
        };
    </script>
</body>
</html>
